@import url('https://fonts.googleapis.com/css?family=Poppins');


  body {
  font-family: 'Poppins';
}

  header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .npmLogo {
    width: 80px;
    margin-right: 1rem;
  }

  .loupe {
    width: 20px;
    margin-right: 1rem;
  }

  .searchBox {
    margin-top:15px;
    float:right;
    margin-right:100px;
}
  
 .searchBox input{
    padding:7px;
    border:none;
    font-size:16px;
    font-family:sans-serif;   
    background-color: grey;
    color: black;

  }
  .searchBox button {
    float:right;
     background:red;
     color:white;
     border-radius:0 5px 5px 0;
     cursor:pointer;
     position:relative;
     padding:7px;
     font-family:sans-serif;
     border:none;
     font-size:16px;
  }

  input [type="text"]{
    font-size: 16px;
    padding:7px;
    color: black;
  }

  .section-btn {
    width: 400px;
  }

  .section-btn ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }  
    
  .section-btn a{
    text-decoration: none;
    height: 50px;
    width: 80px;
    background-color: white;
    color: black;
    place-items: center;
    border: 1px solid black;
    padding: 10px 20px 10px 20px;
}
 #div-btn ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

 }
  #red-btn {
    background-color: red;
    color:white;
    border: red;
    border: 10px;
    margin-bottom: 30px;
  }
  #white-btn{
    border: white;
  }

  #page2.link-btn{
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    color: white;
    text-align: center;
    border: 50px;
    padding: 50px; 
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
}

section > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center
}
h1{
  font-size: 48px;
}
h2{
  font-size: 35px;
  background-color;: rgba(255,204,53,.4)
}
h4 {
  font-size: 25px;
  color: red;
}
#page2 .section-text{
  font-size:1em; 
  text-align: center;
  width: 400px;
  border-bottom: 50px;
  padding: 50px;
}

#page3 .section-text{
  font-size:1em; 
  justify-content: space-between;
  text-align: center;
  width: 600px;
  border-bottom: 50px;
  padding: 50px;
}

.img{
  width: 400px;
  height: auto;
  border:40px;
}

.icon{
  width: 50px;
  height: auto;
}

.service-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  border: 2px solid #eee;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  padding: 20px;
  width: 30%;

}
.heading h4{
  color:#ED1C24;
}
 .container-box{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: stretch;
  
 }
 #org-btn {
  background-color: black;
  color: white;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  float: center;
  padding: 20px 100px 20px 100px;
  margin-top: 40px;
  text-justify: center;
  text-decoration: none;
  font-size: 18px; 
 }
  
 

<!--section2
heading background color: rgba(255,204,53,.4)
to get the transform of the yellow background in the left-hand direction use: transform: skew(9deg,0deg);
to get it in the opposite direction of the letters, the way we need it on the page, use: font-style: italic;
to additionally fine-tune the position of each element, use margin property.
Again use a lot of flexbox to get the right position of elements - direction, justify-content, align-items.-->



