@import url('https://fonts.googleapis.com/css?family=Poppins');


  body {
  font-family: 'Poppins';
}

  header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .npmLogo {
    width: 80px;
    margin-right: 1rem;
  }

  .loupe {
    width: 20px;
    margin-right: 1rem;
  }

  #searchBox {
    width: 600px;
    margin:auto;
}
  
 .searchBox input{
    width: 400px;
    height: 40px
    border: 2px solid grey;
    border-right: 0px;
    font-size: 18px;
    padding: 12px   
    background-color: grey;
    color: black;

  }
  .searchBox button {
    width: 90px;
    height: 40px
    background-color: red;
    border: red;
    color: white;
    float: right;
    border-left: 0px;
  }

  input [type="text"]{
    font-size: 16px;
    padding:7px;
    color: black;
  }

  #link-btn {
    display: flex;
    flex;
    height: 50px;
    width: 80px;
    background-color: white;
    color: black;
    place-items: center;
    border: 1px solid black;
    padding: 10px 20px 10px 20px;
}

  .btn{
    display: flex;
    justify-content: flex-end;
    text-align: center;
}
  #page2.link-btn{
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    color: white;
    text-align: center;
    border: 50px;
    padding: 50px; 
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
}

section > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center
}
h1{
  font-size: 48px;
}
h2{
  font-size: 35px;
  background-color;: rgba(255,204,53,.4)
}
h4 {
  font-size: 25px;
  color: red;
}
#page2 .section-text{
  font-size:1em; 
  text-align: center;
  width: 400px;
  border-bottom: 50px;
  padding: 50px;
}

#page3 .section-text{
  font-size:1em; 
  justify-content: space-between;
  text-align: center;
  width: 600px;
  border-bottom: 50px;
  padding: 50px;
}

.img{
  width: 400px;
  height: auto;
}

.icon{
  width: 50px;
  height: auto;
}

.service-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  border: 2px solid #eee;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  Margin: 5px 5% 0 5%;
  padding: 20px;
  width: 30%;

}
.heading h4{
  color:#ED1C24;
}
 .container-box{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: stretch;
  
 }
 .footer-btn {
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  width: 300px;
  height: 100px;
  border: 1px solid black;
  background-color: black;
 }

#create-an-org{
  text-justify: center;
  text-decoration: none;
  color: white;
}
  <!--section 1 
  suggested height for this section: 600px
background color: rgba(232,217,217,.3)
"See plans" button background color: #FB3B49
"See plans" button box shadow: 8px 8px 0 rgba(251,59,73,.2) -->

<!--section2
heading background color: rgba(255,204,53,.4)
to get the transform of the yellow background in the left-hand direction use: transform: skew(9deg,0deg);
to get it in the opposite direction of the letters, the way we need it on the page, use: font-style: italic;
to additionally fine-tune the position of each element, use margin property.
Again use a lot of flexbox to get the right position of elements - direction, justify-content, align-items.-->


<!--section 3
color of the letters in each heading in this section: #ED1C24
"Create an Org" box shadow: 8px 8px 0 rgba(128,83,35,.2)
"Create an Org" letters color: white -->

